@page "/exchange-order-filter"

@inject ExchangeOrderService ExchangeOrderService
@inject NavigationManager Navigation

<div class="card-group" style="width: 100%; margin: 10px 0 0 0">
    @foreach (var exch in ExchangeOrderService.FilterOrders)
    {
        <MudCard Outlined="true" style="width: 280px; margin: 2%">
            <MudCardHeader Style="height: 20px">
                <CardHeaderAvatar>
                </CardHeaderAvatar>
                <CardHeaderContent>
                </CardHeaderContent>
                <CardHeaderActions>
                    <MudIconButton Icon="@Icons.Material.Filled.Close" Color="Color.Default" OnClick="() => RemoveOrder(exch)" />
                </CardHeaderActions>
            </MudCardHeader>
            <MudCardContent Class="d-flex justify-center align-center">
                <MudImage Src=@("Images/" + @exch.PhotoName) Elevation="25" Class="rounded-lg" Style="width: 250px; height: 250px" />
            </MudCardContent>
            <MudCardActions style="display: flex; justify-content:center">
                <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="() => OpenOrderPage(exch.ExchangeOrderId)">@ExchangeOrderService.CutName(exch.Title)</MudButton>
            </MudCardActions>
        </MudCard>
    }
</div>
<div style="display: flex; justify-content:center">
    <MudButton OnClick="AddFilterOrder" Variant="Variant.Outlined" Color="Color.Primary" Style="margin: 3%">Добавить объявление</MudButton>
    <MudButton OnClick="GoBack" Variant="Variant.Outlined" Color="Color.Primary" Style="margin: 3%">Назад</MudButton>
</div>

@code {
    private void OpenOrderPage(int id)
    {
        ExchangeOrderService.ChangeCurrentExchangeOrder(id);  
        Navigation.NavigateTo("/order");
    }

    private void RemoveOrder(ExchangeOrder order)
    {
        ExchangeOrderService.FilterOrders.Remove(order);
    }

    private void AddFilterOrder()
    {
        Navigation.NavigateTo("/select-filter-order");
    }

    private void GoBack()
    {
        Navigation.NavigateTo("offer-exchange-orders");
    }
}
