@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject UserService UserService

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<PageTitle>BarterExchange</PageTitle>

<div class="page">
    <div class="sidebar bg-primary" style="width: 270px">
        <NavMenu />
    </div>
    
    <main>
        <div class="top-row px-4 bg-primary">
            @if(UserService.IsAuthorized())
            {
                <NavLink href="profile" style="color: white">@UserService.EncodeDecrypt(UserService.CurrentUser.Email, Storage.Key)</NavLink>
            }
            else
            {
                <NavLink href="authorization" style="color: white">Авторизация</NavLink>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    bool open = false;

    private void ToggleDrawer()
    {
        open = !open;
    }

    private void OnButtonClick()
    {
        Navigation.NavigateTo("/authorization");
    }
}
