@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject UserService UserService

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<PageTitle>BarterExchange</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @if(UserService.IsAuthorized())
            {
                <NavLink href="profile">@UserService.CurrentUser.Email</NavLink>
            }
            else
            {
                <NavLink href="authorization">Авторизация</NavLink>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private void OnButtonClick()
    {
        Navigation.NavigateTo("/authorization");
    }
}
