@inject NavigationManager Navigation

<div class="modal-body">
    <h5>Авторизируйтесь</h5>
    <p>Чтобы создать объявление для обмена, нужно сначала авторизироваться</p>
    <p><button class="btn btn-secondary popover-test" @onclick=NavigateToAuthorization>Авторизоваться</button></p>
</div>

@code {
    public void NavigateToAuthorization()
    {
        Navigation.NavigateTo("/authorization");
    }
}
