@page "/order"
@inject ExchangeOrderService ExchangeOrderService
@inject ItemService ItemService
@inject UserService UserService
@inject NavigationManager Navigation

<OrderComponent></OrderComponent>
@if(UserService.CurrentUser != null && 
   ExchangeOrderService.CurrentExchangeOrder.CreatorEmail != UserService.CurrentUser.Email 
   && ExchangeOrderService.CurrentExchangeOrder.IsConducted == false)
{
    <div class="form-group" style="display: flex; justify-content:center; margin: 0 0 5% 0">
        <button class="btn btn-primary" @onclick=OfferExchange>Предложить обмен</button>
    </div>
}

@code {
    private void OfferExchange()
    {
        Navigation.NavigateTo("/offer-exchange-orders");
    }
}
