@page "/order"
@inject ExchangeOrderService ExchangeOrderService
@inject ItemService ItemService
@inject UserService UserService

<OrderComponent></OrderComponent>
@if(UserService.CurrentUser != null)
{
    <div class="form-group" style="display: flex; justify-content:center; margin: 3% 0 0 0">
        <button name="regButton" class="btn btn-primary" @onclick=OfferExchange>Редактировать объявление</button>
    </div>
}

@code {
    private void OfferExchange()
    {
        
    }
}
