@page "/registration"
@inject UserService UserService
@inject NavigationManager Navigation

<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
<link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />


@if (!UserService.IsAuthorized())
{
    <div class="card" style="width: 50%; margin: 100px 25% 0 25%">
        <div class="card-header">
            <h3 style="display: flex; justify-content:center">Регистрация</h3>
        </div>
        <div class="card-body">
            <div class="form-group">
                <MudTextField @bind-Value="regName" Label="Имя" Clearable="true" Immediate="true" Variant="Variant.Filled"></MudTextField>
            </div>
            <div class="form-group">
                <MudTextField @bind-Value="regSurname" Label="Фамилия" Clearable="true" Immediate="true" Variant="Variant.Filled"></MudTextField>
            </div>
            <div class="form-group">
                <MudTextField @bind-Value="regEmail" Label="Электронная почта" Clearable="true" Immediate="true" Variant="Variant.Filled"></MudTextField>
            </div>
            <div class="form-group">
                <MudTextField @bind-Value="regPhoneNumber" Label="Номер телефона" Clearable="true" Immediate="true" Variant="Variant.Filled"></MudTextField>
            </div>
            <div class="form-group">
                <MudTextField @bind-Value="regPass" InputType="@PasswordInput" Clearable="true" Immediate="true" Label="Пароль" Variant="Variant.Filled" Adornment="Adornment.End"
                          AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="ButtonTestClick" AdornmentAriaLabel="Показать пароль"></MudTextField>
            </div>
            <div class="form-group" style="display: flex; justify-content:center; margin: 3% 0 0 0">
                <button class="btn btn-primary" @onclick=Register>Зарегистрироваться</button>
            </div>
        </div>
    </div>

    @if (isError)
    {
        <div class="alert alert-danger" role="alert">
            @errorMessage
        </div>
    }
}
else
{
    <div class="modal-body">
        <h5>Выйдите с аккаунта</h5>
        <p>Чтобы зарегистрировать новый аккаунт, нужно сначала выйти со своего аккаунта</p>
        <p><button class="btn btn-secondary popover-test" @onclick=UserService.LogOut>Выйти с аккаунта</button></p>
    </div>
}

@code {
    string regName = "";
    string regSurname = "";
    string regEmail = "";
    string regPhoneNumber = "";
    string regPass = "";
    bool isError = false;
    string errorMessage = "";
    bool isShow;
    InputType PasswordInput = InputType.Password;
    string PasswordInputIcon = Icons.Material.Filled.VisibilityOff;


    private void Register()
    {
        if (regName != "" && regSurname != "" && regEmail != "" && regPhoneNumber != "" && regPass != "")
        {
            if (UserService.CheckEmail(regEmail))
            {
                isError = true;
                errorMessage = "Пользователь с такой почтой уже существует";
                return;
            }

            if (UserService.CheckPhoneNumber(regPhoneNumber))
            {
                isError = true;
                errorMessage = "Пользователь с таким телефонным номером уже существует";
                return;
            }

            if (UserService.CheckCorrectEmail(regEmail))
            {
                isError = true;
                errorMessage = "Некорректный Email";
                return;
            }

            if (UserService.CheckCorrectPhoneNumber(regPhoneNumber))
            {
                isError = true;
                errorMessage = "Некорректный номер телефона";
                return;
            }

            EncryptData();
            User user = new User(regName, regSurname, regEmail, regPhoneNumber, regPass);
            UserService.RegisterUser(user);
            UserService.AuthorizeUser(user.Email, user.Password);
            isError = false;
            ClearPage();
            Navigation.NavigateTo("/");
        }
        else
        {
            errorMessage = "Не все поля заполнены!";
            isError = true;
        }
    }

    void ButtonTestClick()
    {
        @if (isShow)
        {
            isShow = false;
            PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
            PasswordInput = InputType.Password;
        }
        else
        {
            isShow = true;
            PasswordInputIcon = Icons.Material.Filled.Visibility;
            PasswordInput = InputType.Text;
        }
    }

    private void ClearPage()
    {
        regName = "";
        regSurname = "";
        regEmail = "";
        regPhoneNumber = "";
        regPass = "";
    }

    private void EncryptData()
    {
        regEmail = UserService.EncodeDecrypt(regEmail, Storage.Key);
        regPhoneNumber = UserService.EncodeDecrypt(regPhoneNumber, Storage.Key);
        regPass = UserService.EncodeDecrypt(regPass, Storage.Key);
    }

}
